body {
    font-family: Arial, sans-serif;
    margin: 0px 0px;
}
.container_cart{

    margin: auto;
    display: flex; 
    flex-wrap: nowrap;  
    align-items: center;
    justify-content: center;
    
    
}
div .product_info{
   
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}
.info{
    font-size: 30px;
}
.breadcrumb {
    font-size: 14px;
    color: gray;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #111513;
}

/* xóa*/
.cart-table, th, td, tr {
    width: 100%;    
    margin-top: 20px;
    border: 0.5px solid rgb(49, 187, 81);
}
/*kẽ ngang*/
.cart-table th, .cart-table td {
    border-bottom: 1px solid #121313;
    padding: 10px;
    text-align: left;
}

.cart-table th {
    background: #40ce42;
}

.cart-table img {
    width: 200px;
    height: auto;
    margin-right: 100px; 
    vertical-align: middle;
}

.cart-table .remove {
    color: rgb(211, 55, 24);
    text-decoration: none;
    font-size: 25px;
}


.cart-table button {
    display: flex;
    flex-wrap: nowrap;
    width: 30px;
    height: 30px;
    border: 1px solid #0c0c0c;
    background: white;
    cursor: pointer;
}

.cart-table input { 
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
}



.total {
    color: #181a19;
    font-size: 30px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px; /* Khoảng cách giữa các phần tử */
}
.checkout-btn{
    background-color: blueviolet;
    
}
