body {
    font-family: Arial, sans-serif;
    margin: 0px 0px;
}
.container_cart{
    padding-right: 10px 0;
    margin: auto;
    display: flex; 
    flex-wrap: nowrap;  
    align-items: center;
    justify-content: center;
    
    
}
div .product_info{
   
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}
.info{
    font-size: 30px;
}
.breadcrumb {
    font-size: 14px;
    color: gray;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #111513;
}

/* xóa*/
.cart-table, th, td, tr {
    width: 100%;    
    margin-top: 20px;
    border: 0.5px solid rgb(12, 12, 12);
}
.cart-table, th, td{
   width: auto;
}

/*kẽ ngang*/
.cart-table th, .cart-table td {
    border-bottom: 1px solid #121313;
    padding: 10px;
    text-align: left;
}

.cart-table th {
    background: #efeeec;
    font-size: 20px;
}

.cart-table img {
    width: 200px;
    height: auto;
    margin-right: 100px; 
    vertical-align: middle;
}

.cart-table .remove {
    color: rgb(211, 55, 24);
    text-decoration: none;
    font-size: 25px;
}


.cart-table button {   
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
}

.cart-table input { 
    width: 30px;
    text-align: center;
    border: none;
    font-size: 16px;
    outline: none;
}

.plus_minus{
    width: 30px !important;
}

.total {
    color: #181a19;
    font-size: 30px;
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    float: right;
}
.total_amout{
    padding: 5px 5px; /* Khoảng cách giữa các phần tử */
}
.checkout-btn{
    float: right;
    background-color: rgb(223, 216, 201);
    margin-bottom: 50px;
}
